@page "/fetchdata"
@using Mc2.CrudTest.Presentation.Contract
@inject HttpClient _http

<h1>Customers</h1>


<button value="New">Register</button>
@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BankAccountNumber</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RegisterCustomerModel customer in _customers)
            {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.BankAccountNumber</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.EmailAddress</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private RegisterCustomerModel[] _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<RegisterCustomerModel[]>("Customer");
    }

}
